/* CSS Document */
/* Standard tags */
body {
	margin: 0;
	padding: 0;
	background: url("../images/msd/corner-device-teal.png") top right no-repeat;
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 16px;
	color: #808080;
	}
h1 {font-size: 22px;margin: 0 0 5px 0;padding: 0;}
h2 {font-size: 20px;margin: 0 0 5px 0;padding: 0;}
h3 {font-size: 18px;margin: 0 0 15px 0;padding: 0;}
.rightContainer h3 {font-size:22px;}
p {margin: 0 0 15px 0;padding: 0;}
a {color:#009994; text-decoration: none;}
a:hover {text-decoration: underline;}
.aquamarine{color:#009994;font-style: italic;}
/* Header */
#header{width: 100%;padding: 0;max-width: 1000px;margin: 0 auto 0 auto;min-height: 200px;border-bottom: solid 2px #dddddd;position: relative;z-index: 100;}
#logo {margin:45px 0 0 1%;}
.logolink{position: absolute;z-index: 10;}

#logo img {width:100%;height:auto;max-width:333px;}
#menuwrapper {width: 100%;padding: 125px 0 0 0;height: 60px;position: relative;}
#menu {/*height: 80px;*/position: relative;float: right;}
#menu ul{height: auto;display: block;margin:0;padding: 0;list-style: none;position: relative;}
#menu ul li{font-weight:bold;line-height:50px;float:left;padding:0 0px 0 30px;margin:0;text-decoration:none;overflow:visible;position: relative;list-style:none;}
#menu ul li:last-child{border-right:none}
#menu li a{text-decoration:none;color:rgb(150, 150, 150);}
#menu ul li:hover:after {content: "";position: absolute;top: 40px;left: 50%;width: 0px;height: 0px;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 10px solid #73c7c4;}
#menu ul li.sub:hover{cursor:pointer;cursor:hand}
#menu ul li.active:after{content: "";position: absolute;top: 70px;left: 70px;width: 0px;height: 0px;border-left: 15px solid transparent;border-right: 15px solid transparent;border-bottom: 10px solid #73c7c4;}
#menu ul li ul{margin-left:0;position:absolute;display:none;overflow:hidden;color:#ffffff;}
#menu ul li:hover ul{display:block;}
#menu ul li ul li{background-color:#73c7c4;font-weight:200;font-size:18px;line-height:25px;width:100%;padding:10px 20px 10px 20px;white-space: nowrap;}
#menu ul li ul li a{text-decoration:none;color:#ffffff;text-transform:none}
#menu ul li ul li:hover{background-color:#80ddd9;}
#menu ul li ul li:hover:after {border:none;}
#menu ul li ul li.active{background-color:#73c7c4;}
#menu ul li ul li a.active{}
#menu ul li ul li.active:after{border:none;}
#menuu ul li ul li a:hover{color:#ffffff;}
#mobile {display:none;padding: 170px 0 0 0;position: relative;width: 100%;}
#breadcrumbs {margin: 0 1% 0 1%;max-width:1000px;width:98%;}
#breadcrumbs p {color:#73c7c4;font-weight: bold;font-size: 14px;}

/* Content */
#content{width: 100%;max-width: 1000px;margin: 20px auto 0 auto;min-height: 400px;overflow: hidden;}
.contentwrapper{width:98%;margin:0 1%;overflow: hidden;}
.leftContainer{width:65%;float:left;overflow: hidden;min-height: 200px;}
.leftContainer .newswrow{width:100%;overflow: hidden;margin-bottom:25px;}
.leftContainer .newswrow .news{width:48%;overflow: hidden;min-height: 250px;}
.leftContainer .newswrow .news:nth-child(1){float:left;}
.leftContainer .newswrow .news:nth-child(2){float:right;}
.leftContainer ul li {margin-bottom:15px;}
.news img{width:100%;height:auto;margin-bottom:10px;}
.news p,.news h2 {padding-left:5px;padding-right:5px;}
.news p a{display:inline-block;}
.bannerimg{width:100%;height:auto;margin-bottom:30px;}
.imgleft{float:left; margin-right:10px;}
.referent{overflow:hidden;position:relative;width:100%;height:140px;margin-bottom:30px;}
.referent img{float: left;}
.referent p {font-size:12px;bottom: 0px;left: 150px;position: absolute;margin: 0;}
.rightContainer{width:25%;float: right;overflow: hidden;min-height: 200px;min-width:210px;}
.rightContainer table {float:right;margin-bottom:20px;font-size:14px;}
.rightContainer table tr:first-child{font-size: 20px;font-weight: bold;}
.rightContainer ul {margin: 0;padding: 0 0 0 20px;}
.rightContainer ul li {line-height:24px;}
.countdownbox{overflow: hidden;}
.confdate {font-size: 22px;font-weight: bold;text-align: right;}
.countdown{color:#c3c3c3;}
.moreblock {padding:5px 20px;background-color: #73c7c4;color:#ffffff;font-weight: bold;}
.rcmoreblock {width: 100%; padding:10px 0;margin-bottom: 30px;background-color: #73c7c4;color:#ffffff;font-weight: bold;text-align: center;font-size: 22px;display:block;}

/* Footer */
#footer {width: 100%;background: url("../images/msd/MSD_Web_SideLeft_RGB_German-medium.jpg") top left no-repeat;background-size: 200px;min-height: 300px;position: relative;}
.footerContent{width:100%;max-width:1000px;margin:0 auto;min-height: 270px;overflow: hidden;position: relative}
.footermenu{width: 96%;margin:0 2%;overflow: hidden;position: absolute;bottom:0px;}
.footermenu p {margin:0;float:left;}
.footermenu ul{float:right;margin:0;}
.footermenu ul li{display: inline-block;margin-left:10px;}
/* Mobile */
@media screen and (max-width: 900px) {
	#mobile {display:block;}
	#menuwrapper{display: none;}
	.contentwrapper{width:96%;margin:0 2%;}
	
	#breadcrumbs{display:none;}
}
@media (max-width: 860px){
	.footermenu{text-align: right;width: 96%;margin:0 2%;overflow: hidden;position: relative;margin-top:50px;}
	.footermenu p {margin:0 0 0 50px;display: block;float: none;clear: both;}
	.footermenu ul{float:none;display: block;clear: both;padding:0;margin:0 0 0 70px;}
	.footermenu ul li{display: block;margin-left:0;}
}
@media (max-width: 768px){
	.rightContainer{display: none;}
	.leftContainer{width:100% !important;}
}
@media (max-width: 630px){
body {background: url("../images/msd/corner-device-teal-small.png") top right no-repeat;}
}
@media (max-width: 500px){
.leftContainer .newswrow .news{width:100%;float:none !important;}
.imgleft{float:none; margin-right:0;width:100%;height:auto;}
.referent .imgleft {width: auto;}	
	
}
/* FlexSlider */
.flex-caption {width: 100%;margin-top:50px;left: 0;bottom: 0;color: #808080;}
li.css a {border-radius: 0;}

